################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/L01-utasítasok/bin/Debug/net8.0
/.vs/PMP-Labor_2024_osz
/L01-utasítasok/obj
